:root {
  --gold: #b16833;
}

body > *{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url(static/img/workshop_banner.jpeg);
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "JetBrains Mono";
  text-align: center;
}

.wrapper{
  background-color: rgba(128, 128, 128, 0.45);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  display:flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

img {
  height: 100px;
  margin: 0px 10px;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}

form {
  margin-bottom: 40px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 30px 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  resize: none;
  font-size: medium;
  transition: all ease-in-out 250ms;
}

.form-control:focus {
  outline-width: 0px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

/* input:focus::placeholder{
  color: transparent;
} */

button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--gold);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  min-height: 45px;
  padding: 0 25px;
  border: none;
  border-radius: 8px;
  max-width: 100px;
  margin: 0px auto;
  font-weight: 800;
}

button:hover,
button:focus,
button:active{
  background-color: #a45e2c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}



.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

a{
  text-decoration: none;
}

#download-button {
  color: white;
  padding: 15px;
  margin-top: 20px;
  background-color: var(--gold);
  border-radius: 5px;
  transition: all ease-in-out 250ms;
  /* height: 40px; */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  min-width: 60px;
  max-width: 100%;
}
#download-button:hover,
#download-button:focus {
  background-color: #a45e2c;
}

h1 {
  margin: 30px 0px 10px 0px;
}

.error{
  opacity: 0;
  transition: 0.3s all ease;
}

.show{
  opacity: 100%;
}

@media(max-width: 600px){
  .wrapper{
    padding: 10px;
    width: 85%;
  }
  h1{
    font-size: 1rem;
  }
  .main-container{
    width: 95%
  }
}